[submodule "submodules/gdevelop"]
	path = submodules/gdevelop
	url = https://github.com/4ian/GDevelop.git
	branch = master
[submodule "submodules/litellm"]
	path = submodules/litellm
	url = https://github.com/BerriAI/litellm.git
	branch = main
[submodule "submodules/bifrost"]
	path = submodules/bifrost
	url = https://github.com/maximhq/bifrost.git
	branch = main
[submodule "submodules/monsterinsights"]
	path = submodules/monsterinsights
	url = https://github.com/wp-plugins/google-analytics-for-wordpress.git
	branch = master
